{% extends 'backlink_model.twig' %}
{% block style %}
.export{min-width:100px;min-height:100px;position:fixed;bottom:3%;left:0;padding:15px;}
.export button {display:block;margin:auto;}
td, th {padding:5px;}
{% endblock %}
{% block main_stage %}
<button type="button" name="OnlyShowthisType" onclick="showAllTypes(this)">總覽</button>
{% for eachtype in backlink_typeName %}
    <button type="button" name="OnlyShowthisType" onclick="showDatabyType(this)">{{eachtype}}</button>
{% endfor %}
{% if page_privilege["backlinkExport"] b-and total_privilege %}
  <br><input type="checkbox" name="allselect" value="" checked>
{% endif %}
<table id="recordTable" class="tablesorter">
  <thead>
    <tr>
      {% if page_privilege["backlinkExport"] b-and total_privilege %}
      <th>選擇匯出</th>
      {% endif %}
      <th>勾選日期</th>
      <th>案件名稱</th>
      <th>外鏈群組</th>
      <th>外鏈類型</th>
      <th>案件產業</th>
      <th>群組備註</th>
      <th>已匯出</th>
    </tr>
  </thead>
  <tbody>
    {% for eachSubmitRecord in everySubmitRecord %}
    <tr case_id="{{eachSubmitRecord["case_id"]}}" group_id="{{eachSubmitRecord["backlinkGroup_id"]}}">
      {% if page_privilege["backlinkExport"] b-and total_privilege %}
      <td>
        <input type="checkbox" name="selectexport" value="" checked="checked">
      </td>
      {% endif %}

      <td time="{{eachSubmitRecord["submit_time"]}}">{{eachSubmitRecord["submit_time_date"]}}</td>
      <td name="caseName"><a href="/index/casedata_edit/{{eachSubmitRecord["auto_id"]}}">{{eachSubmitRecord["case_name"]}}</a></td>
      <td>{{groupChinese[ eachSubmitRecord["backlinkGroup_id"] ]}}</td>
      <td  name="LinkType" type_id="{{eachSubmitRecord["linktype_thisweek"]}}">{{backlink_typeName[ eachSubmitRecord["linktype_thisweek"] ]}}</td>
      <td name="IndustryType" industry_id="{{eachSubmitRecord["case_industry"]}}">{{industry_tpyeName[ eachSubmitRecord["case_industry"] ]}}</td>
      <td>{{eachSubmitRecord["remark"]}}</td>
      <td>{{eachSubmitRecord["export"]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div id="forexportContent"></div>
{% if page_privilege["backlinkExport"] b-and total_privilege %}
<div class="export">
  <label>拆檔:</label><input type="text" id="SeperateToNFile" value=""><br><br>
  <button type="button" onclick="create_export_file()">匯出</button>
</div>
{% endif %}
{% endblock %}
{% block script_stage %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(function(){
  $("#recordTable").tablesorter();
});
</script>
<script src="/includes/js/backlink_all.js"></script>
{% endblock %}
