{% extends 'backlink_model.twig' %}
{% block style %}
.export{min-width:100px;min-height:100px;position:fixed;bottom:3%;left:0;padding:15px;}
.export button {display:block;margin:auto;}
td, th {padding:5px;}
{% endblock %}
{% block main_stage %}
<button type="button" name="OnlyShowthisType" onclick="showAllTypes(this)">總覽</button>
{% for eachtype in backlink_type %}
    <button type="button" name="OnlyShowthisType" onclick="showDatabyType(this)">{{eachtype["BacklinkType_name"]}}</button>
{% endfor %}
<table>
  <tr>
    <th>選擇匯出</th>
    <th>勾選日期</th>
    <th>案件名稱</th>
    <th>外鏈群組</th>
    <th>外鏈類型</th>
    <th>案件產業</th>
    <th>群組備註</th>
    <th>已匯出</th>
  </tr>
  <tr>
    <td><input type="checkbox" name="allselect" value="" checked></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% for eachSubmitRecord in everySubmitRecord %}
  <tr case_id="{{eachSubmitRecord["case_id"]}}" group_id="{{eachSubmitRecord["backlinkGroup_id"]}}">
    <td>
      <input type="checkbox" name="selectexport" value="" checked="checked">
    </td>
    <td>{{eachSubmitRecord["submit_time"]}}</td>
    <td name="caseName">{{eachSubmitRecord["case_name"]}}</td>
    <td>{{groupChinese[ eachSubmitRecord["backlinkGroup_id"] ]}}</td>
    <td  name="LinkType" type_id="{{eachSubmitRecord["linktype_thisweek"]}}">{{backlink_typeName[ eachSubmitRecord["linktype_thisweek"] ]}}</td>
    <td name="IndustryType" industry_id="{{eachSubmitRecord["case_industry"]}}">{{industry_tpyeName[ eachSubmitRecord["case_industry"] ]}}</td>
    <td>{{eachSubmitRecord["remark"]}}</td>
    <td>{{eachSubmitRecord["export"]}}</td>
  </tr>
  {% endfor %}
</table>
<div id="forexportContent"></div>
<div class="export">
  <label>拆檔:</label><input type="text" id="SeperateToNFile" value=""><br><br>
  <button type="button" onclick="create_export_file()">匯出</button>
</div>
{% endblock %}
{% block script_stage %}
<script type="text/javascript">
  $("input[name=allselect]").click(function(){
    if(this.checked){ $("input[type=checkbox]").prop("checked",true) ;}
    else { $("input[type=checkbox]").prop("checked",false) ; }
  });

  function showDatabyType(field){
    var type = $(field).html();
    $("tr[case_id][group_id]").hide();
    $("td[name=LinkType]:contains("+type+")").parents("tr[case_id][group_id]").show();
  }

  function showAllTypes(){
    $("tr[case_id][group_id]").show();
  }

  function create_export_file(){
    var ContentIndex = "<form  action=\"\/export\/backlink_data\" method=\"post\">";
    var i = 0;
    $("tr[case_id][group_id]:visible").has("input:checked").each(function(){
      ContentIndex += "<input type=\"hidden\" name=\"ContentIndex["+ i +"][case_id]\" value="+$(this).attr("case_id")+">";
      ContentIndex += "<input type=\"hidden\" name=\"ContentIndex["+ i +"][group_id_incase]\" value="+$(this).attr("group_id")+">";
      ContentIndex += "<input type=\"hidden\" name=\"CaseName[]\" value="+$(this).children("td[name=caseName]").html()+">";
      ContentIndex += "<input type=\"hidden\" name=\"LinkType[]\" value="+$(this).children("td[name=LinkType]").attr("type_id")+">";
      i += 1;
    });
    if ($.isNumeric($("#SeperateToNFile").val())) {
      ContentIndex += "<input type=\"hidden\" name=\"SeperateTo\" value="+$("#SeperateToNFile").val()+">";
    }
    ContentIndex += "<\/form>";
    $(ContentIndex).submit();
  }

</script>
{% endblock %}
