{% extends 'case_model.twig' %}
{% block style %}
td input{width:100%;}
.otherFunction{margin:25px;}
.original{display:none;}
.original textarea{display:block;width:90%;height:300px;margin:auto;}
.right{float:right;}
input[name=url] {width:65%;}
input[name=keywords] {width:25%;}
.eachLinkGroup{padding:50px; border:2px solid #aaa;margin:50px auto;}
.remarks{display:table;margin:auto;}
.thisweekRecord{min-width:100px;min-height:100px;position:fixed;bottom:40%;left:0;padding:15px;}
.submit_link{min-width:100px;min-height:100px;position:fixed;bottom:100px;left:0;padding:15px;}
.submit_link table{margin:auto;}
.submit_link button{display:block;margin:auto;}
.otherFunction button{display:block;margin:auto;}
{% endblock %}
{% block main_stage %}
<div class="main_block">
  <p id="case_id" case_id="{{case_id}}">{{case_name}}</p>
  <div class="everyGroup">
    {% for group_id,everyUrliGroup in group %}
    <div class="eachLinkGroup" group_id="{{group_id}}">
      {% if dataversion == "new" %}

      {% for eachbacklink_type in backlink_type %}
      <input type="checkbox" name="backlink_tpye" value="{{eachbacklink_type["auto_backlinkID"]}}"><label>{{eachbacklink_type["BacklinkType_name"]}}</label>
      {% endfor %}
      {% endif %}
      <br><br><label class="groupname_chinese">{{groupChinese[group_id]}}</label>
      <div class="GroupContent">
        <!-- <div>
          <span>url</span>
          <span>keywords</span>
          <span></span>
        </div> -->
        {% for eachUrlinGroup in everyUrliGroup["urlpart"] %}
        <div class="eachUrl">
          <input type="text" name="url" value="{{eachUrlinGroup["url"]}}">
          <input type="text" name="keywords" value="{{eachUrlinGroup["keywords"]}}">
          <button type="button" onclick="removeUrl(this)">刪除</button>
        </div>
    {% endfor %}
  </div>
      <div class="remarks">
        <label>備註:</label><br>
        <textarea name="remark">{{everyUrliGroup["remark"]}}</textarea>
      </div>
      <button class="right" type="button" onclick="addUrl(this)">新增</button>
    </div>
{% endfor %}
  </div>
  <div class="otherFunction">
    <button class="right" type="button" onclick="addGroup()">新增群組</button>
    <button class="right" type="button" onclick="linkgroup_submit()">儲存</button>
    {% if dataversion == "old" %}
    <button type="button" onclick="showhelp()">怪怪的顯示不出來??按這裡</button>
    <div class="original">
      <textarea name="original">{{original_data}}</textarea>
      Seperate%%GROUP%%Here<br><br>
      <button type="button" onclick="submit_original()">送出</button>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block addition %}
<div class="thisweekRecord">
  {% for record in thisweekRecord %}
      <p alreadysubmitgroup_id="{{record["backlinkGroup_id"]}}" alreadysubmittype_id="{{record["linktype_thisweek"]}}">
      {{groupChinese[ record["backlinkGroup_id"] ]}}
        <span>{{record["linktype_thisweek_name"]}}</span>
      </p>
  {% endfor %}
</div>

<div class="submit_link">
  <table id="submit_preview">
    <tr>
      <th>群組</th>
      <th>種類</th>
    </tr>
  </table>
  <button type="button" onclick="submit_thisweek()">提交</button>
</div>
{% endblock %}
{% block script_stage %}
<script type="text/javascript">

$(document).ready(function(){
    $("p[alreadysubmitgroup_id]").each(function(){
      var selectedOne = $(".eachLinkGroup[group_id="+$(this).attr("alreadysubmitgroup_id")+"]").find("input[name=backlink_tpye][value="+$(this).attr("alreadysubmittype_id")+"]");
      selectedOne.prop("disabled",true);
      selectedOne.next("label").css("color","#aaa");
    });
});
  function showhelp(){
    $(".original").show();
  }
  function addUrl(filed){
    var Urldiv = "<div class=\"eachUrl\"><input type=\"text\" name=\"url\" value=\"\"><input type=\"text\" name=\"keywords\" value=\"\"><button type=\"button\" onclick=\"removeUrl(this)\">刪除</button></div>";
    $(filed).parents(".eachLinkGroup").children(".GroupContent").append(Urldiv);
  }
  function removeUrl(field){
    $(field).parents(".eachUrl").remove();
  }
  function addGroup(){
    var countGroup = $(".eachLinkGroup").length;
    if (countGroup < 30) {
      var Groupdiv = $(".eachLinkGroup:first").html();
      var newGroup = $("<div class=\"eachLinkGroup\" group_id="+(countGroup)+">");
      newGroup.html(Groupdiv);
      newGroup.find(".eachUrl:not(:first-child)").remove();
      newGroup.find(".groupname_chinese").remove();
      newGroup.find("input").val("");
      newGroup.find("input:checked").prop("disabled",true);
      newGroup.children(".GroupContent").before("<button type=\"button\" onclick=\"removegroup(this)\">刪除此群組</button><br>");
      $(".everyGroup").append(newGroup);
    } else {
      alert("已達群組數上限!!!想要增加群組去跟管理員說!!!");
    }
  }
  function linkgroup_submit(){
    var allGroupStorge = [];
    $(".eachLinkGroup").each(function(){
      var eachGroupContent = "";
      $(this).children(".GroupContent").children(".eachUrl").each(function(){
        eachGroupContent += "<a href=\""+$(this).children("input[name=url]").val()+"\" ";
        eachGroupContent += "title=\""+$(this).children("input[name=keywords]").val()+"\">";
        eachGroupContent += $(this).children("input[name=keywords]").val()+"</a>";
        if (!$(this).is($(".eachUrl:last-child"))) {
          eachGroupContent += "Seperate%%EachLink%%Here";
        }
      });
      var eachGroupStorge = {
        "case_id" : $("#case_id").attr("case_id"),
        "group_id_incase" : $(this).attr("group_id"),
        "backlink_content" : eachGroupContent,
        "remark_content" : $(this).find("textarea[name=remark]").val(),
      };
      allGroupStorge.push(eachGroupStorge);
    });
    var case_id = $("#case_id").attr("case_id");
    console.log(allGroupStorge);
      $.post("/ajax/upload_linkgroupcontent/"+case_id,{allGroupStorge},function(data){
        alert("good");
      });
  }
  function submit_original(){
    var original_data = $("textarea[name=original]").val();
    var case_id = $("#case_id").attr("case_id");
      $.post("/ajax/upload_newtypelink_oldver/"+case_id,{change:original_data},function(){
        alert("good~~");
      });
  }
  function removegroup(field){
    $(field).parents(".eachLinkGroup").remove();
  }
$("input[name=backlink_tpye]").click(function(){
  var type_name = $(this).next("label").html();
  var type_value = $(this).val();
  var group_id = $(this).parents(".eachLinkGroup").attr("group_id");
  var group_name = $(this).parents(".eachLinkGroup").find($("label.groupname_chinese")).html();
  if ($(this).is(":checked")) {
    $("#submit_preview").append("<tr submit_id="+group_id+"_"+type_value+"><td group_id="+group_id+">"+group_name+"</td><td type_id="+type_value+">"+type_name+"</td><tr>");
  } else{
    $("#submit_preview").find("tr[submit_id="+group_id+"_"+type_value+"]").remove();
  }
});

  function submit_thisweek(){
    if ($("input[name=backlink_tpye]:checked").length > 0 ) {
      var case_id = $("#case_id").attr("case_id");
      var thisweekRecord = "[";
      $("tr[submit_id]").each(function(){
        thisweekRecord += '{"case_id":'+case_id+',"backlinkGroup_id":'+$(this).children("td[group_id]").attr("group_id")+',"linktype_thisweek":'+$(this).children("td[type_id]").attr("type_id")+'}';
        if (!$(this).is($("tr[submit_id]").last())) {
          thisweekRecord += ",";
        }
      });
      thisweekRecord += "]";
      $.post("/ajax/submit_thisweek_record",{everyRecord:thisweekRecord},function(){
        location.href = "/backlink/thisweek";
      });
    } else {
      alert("你還沒選膩");
    }
  }

</script>
{% endblock %}
