{% extends 'case_model.twig' %}
{% block style %}
.case_data ul{display:inline-block; width:20%;}
.case_data ul:first-child{display:inline-block; width:40%;}
.case_data ul input{width:100%;}
table tr td{padding:5px;text-align:center;}
{% endblock %}
{% block main_stage %}
<div class="case_data" case_id="{{case_id}}">
  {% for casedetail in casedata %}
  <ul>
    <li><input type="text" name="name" value="{{casedetail["case_name"]}}" disabled></li>
    <li><input type="text" name="address" value="{{casedetail["case_address"]}}" disabled></li>
    <li><input type="text" name="gacode" value="{{casedetail["case_gacode"]}}" disabled></li>
  </ul>
  <ul>
    <li>T</li>
    <li>D</li>
    <li>K</li>
  </ul>
  <ul>
    <li><button type="button">歷史紀錄</button></li>
    <li>
      <select name="industry" disabled>
      {% for industrykey,each_industry in industry_tpyeName %}
      <option value="{{industrykey}}" {% if industrykey == casedetail["case_industry"] %}selected{% endif %}>{{each_industry}}</option>
      {% endfor %}
      </select>
    </li>
    <li>
      <select name="level" disabled>
        {% for levelkey,each_level in level_tpyeName %}
        <option value="{{levelkey}}" {% if levelkey == casedetail["case_level"] %}selected{% endif %}>{{each_level}}</option>
        {% endfor %}
      </select>
    </li>
    <li>
      <select name="program" disabled>
      {% for programkey,each_program in program_tpyeName %}
      <option value="{{programkey}}" {% if programkey == casedetail["case_program"] %}selected{% endif %}>{{each_program}}</option>
      {% endfor %}
      </select>
    </li>
  </ul>
  {% endfor %}
<div>
  <button type="button" style="float:right;" onclick="submit_casedata()">送出</button>
  <button type="button" onclick="startedit()" style="float:right;">開始修改</button>
</div>
</div>



<div class="backlink_history">
  <table>
    <tr>
      <th>日期(是提交不是匯出)</th>
      <th>群組</th>
      <th>類型</th>
    </tr>
    {% for eachRecord in linkRecord %}
    <tr>
      <td>{{eachRecord["submit_time"]}}</td>
      <td>{{groupChinese[ eachRecord["backlinkGroup_id"] ]}}</td>
      <td>{{eachRecord["BacklinkType_name"]}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block script_stage %}
<script type="text/javascript">
  function startedit(){
    $("input").prop("disabled",false);
    $("select").prop("disabled",false);
  }

  function submit_casedata(){
    var case_id = $(".case_data").attr("case_id");
    var caseData = {
      "case_id" : case_id,
      "data" : {
        "case_name" : $("input[name=name]").val(),
        "case_address" : $("input[name=address]").val(),
        "case_gacode" : $("input[name=gacode]").val(),
        "case_industry" : $("select[name=industry]").val(),
        "case_level" : $("select[name=level]").val(),
        "case_program" : $("select[name=program]").val()
      }
    };
    $.post("/ajax/submit_casedata",{casedata:caseData},function(data){
      alert(data);
      location.href = "/index/casedata_edit/"+case_id;
    });
  }
</script>
{% endblock %}
