{% extends 'case_model.twig' %}
{% block main_stage %}
<table id="caseIndexTable" class="tablesorter">
  <thead>
    <tr>
      <td>案件名稱</td>
      <td>最近下外鏈日期</td>
      <td>操作等級</td>
      <td>方案</td>
      <td>產業</td>
      <td></td>
      {% if total_privilege b-and page_privilege["DeleteCase"] %}
      <td></td>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for eachcase in everycase %}
    <tr class="caseindex_btnarea" case_id="{{eachcase["auto_id"]}}">
      <td onclick="goto_casedataedit(this)">{{eachcase["case_name"]}}</td>
      <td>{% if eachcase["submit_time"] != "" %}{{eachcase["submit_time"]}}{% else %}最近下外鏈日期(包含未匯出){% endif %}</td>
      <td>{{level_tpyeName[ eachcase["case_level"] ]}}</td>
      <td>{{program_tpyeName[eachcase["case_program"]]}}</td>
      <td>{{industry_tpyeName[eachcase["case_industry"]]}}</td>
      <td><button type="button" onclick="goto_caseLinkedit(this)">連結管理</button></td>
      {% if total_privilege b-and page_privilege["DeleteCase"] %}
      <td><button type="button" name="button" onclick="delete_case(this)">刪除</button><br></td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


{% block script_stage %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
<script type="text/javascript">

$(function(){
  $("#caseIndexTable").tablesorter();
});


function goto_caseLinkedit(field){
  var case_id = $(field).parents(".caseindex_btnarea").attr("case_id");
  location.href = "/index/case_linkgroupedit/"+case_id;
}

function goto_casedataedit(field){
  var case_id = $(field).parents(".caseindex_btnarea").attr("case_id");
  location.href = "/index/casedata_edit/"+case_id;
}

function delete_case(field){
  if (confirm("確定要刪除案件嗎??刪除了就沒救了喔")) {
    if (confirm("確定確定要刪除??")) {
      var case_id = $(field).parents(".caseindex_btnarea").attr("case_id");
      $.post("/ajax/delete_case",{case_id:case_id},function(result){
        var json = $.parseJSON(result);
        alert(json.alert);
        if (json.status == "success") { location.href = "/"; }
      });
    }
  }
}
</script>
{% endblock %}
