{% extends 'case_model.twig' %}
{% block style %}
td input{width:100%;}
.otherFunction{margin:25px;}
.original{display:none;}
.original textarea{display:block;width:90%;height:300px;margin:auto;}
.right{float:right;}
input[name=url] {width:65%;}
input[name=keywords] {width:25%;}
.eachLinkGroup{padding:50px; border:2px solid #aaa;margin:50px auto;}
.remarks{display:table;margin:auto;}
.thisweekRecord{min-width:100px;min-height:100px;position:fixed;bottom:40%;left:0;padding:15px;}
.submit_link{min-width:100px;min-height:100px;position:fixed;bottom:100px;left:0;padding:15px;}
.submit_link table{margin:auto;}
.submit_link button{display:block;margin:auto;}
.otherFunction button{display:block;margin:auto;}
{% endblock %}
{% block main_stage %}
<div class="main_block">
  <p id="case_id" case_id="{{case_id}}">{{case_name}}</p>
  <div class="everyGroup">

    {% if group is empty %}
    <div class="eachLinkGroup" group_id="0">
      <div class="GroupContent">
        <div class="eachUrl">
          <input type="text" name="url" value="">
          <input type="text" name="keywords" value="">
          <button type="button" onclick="removeUrl(this)">刪除</button>
        </div>
      </div>
          <div class="remarks">
            <label>備註:</label><br>
            <textarea name="remark"></textarea>
          </div>
          <button class="right" type="button" onclick="addUrl(this)">新增</button>
      </div>
    {% else %}
    {% for group_id,everyUrliGroup in group %}
    <div class="eachLinkGroup" group_id="{{group_id}}">
      {% if dataversion == "new" %}

      {% for backlinkkey,eachbacklink_type in backlink_typeName %}
      <input type="checkbox" name="backlink_tpye" value="{{backlinkkey}}"><label>{{eachbacklink_type}}</label>
      {% endfor %}
      {% endif %}
      <br><br><label class="groupname_chinese">{{groupChinese[group_id]}}</label>
      <div class="GroupContent">
        <!-- <div>
          <span>url</span>
          <span>keywords</span>
          <span></span>
        </div> -->
        {% for eachUrlinGroup in everyUrliGroup["urlpart"] %}
        <div class="eachUrl">
          <input type="text" name="url" value="{{eachUrlinGroup["url"]}}">
          <input type="text" name="keywords" value="{{eachUrlinGroup["keywords"]}}">
          <button type="button" onclick="removeUrl(this)">刪除</button>
        </div>
    {% endfor %}
  </div>
      <div class="remarks">
        <label>備註:</label><br>
        <textarea name="remark">{{everyUrliGroup["remark"]}}</textarea>
      </div>
      <button class="right" type="button" onclick="addUrl(this)">新增</button>
    </div>
{% endfor %}
{% endif %}

  </div>
  <div class="otherFunction">
    <button class="right" type="button" onclick="addGroup()">新增群組</button>
    <button class="right" type="button" onclick="linkgroup_submit()">儲存</button>
    {% if dataversion == "old" %}
    <button type="button" onclick="showhelp()">怪怪的顯示不出來??按這裡</button>
    <div class="original">
      <textarea name="original">{{original_data}}</textarea>
      Seperate%%GROUP%%Here<br><br>
      <button type="button" onclick="submit_original()">送出</button>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block addition %}
<div class="thisweekRecord">
  {% for record in thisweekRecord %}
      <p alreadysubmitgroup_id="{{record["backlinkGroup_id"]}}" alreadysubmittype_id="{{record["linktype_thisweek"]}}">
      {{groupChinese[ record["backlinkGroup_id"] ]}}
        <span>{{backlink_typeName[ record["linktype_thisweek"] ]}}</span>
      </p>
  {% endfor %}
</div>

<div class="submit_link">
  <table id="submit_preview">
    <tr>
      <th>群組</th>
      <th>種類</th>
    </tr>
  </table>
  <button type="button" onclick="submit_thisweek()">提交</button>
</div>
{% endblock %}
{% block script_stage %}
<script src="/includes/js/case_linkgroupedit.js"></script>
{% endblock %}
