{% extends 'case_model.twig' %}
{% block main_stage %}
<p class="search">以產業搜尋:
<select name="industry">
  <option value=""></option>
  {% for industrykey,industry in industry_tpyeName %}
      <option value="{{industrykey}}">{{industry}}</option>
  {% endfor %}
</select></p>

<p class="search">以方案搜尋:
<select name="program">
  <option value=""></option>
  {% for programkey,program in program_tpyeName %}
      <option value="{{programkey}}">{{program}}</option>
  {% endfor %}
</select></p>

<p class="search">以操作等級搜尋:
<select name="level">
  <option value=""></option>
  {% for levelkey,level in level_tpyeName %}
      <option value="{{levelkey}}">{{level}}</option>
  {% endfor %}
</select></p>

<button type="button" id="select_bygroup">送出</button>

<div id="result">
  <a href="#"></a>
</div>
{% endblock %}


{% block script_stage %}
<script type="text/javascript">
  $("#select_bygroup").click(function(){
    $("#result").empty();
    var industry = $("select[name=industry]").val();
    var program = $("select[name=program]").val();
    var level = $("select[name=level]").val();
    var search = {};
    if (industry != "") {
      search["case_industry"] = industry;
    }
    if (program != "") {
      search["case_program"] = program;
    }

    if (level != "") {
      search["case_level"] = level;
    }

    if ($.isEmptyObject(search)) {
      alert("尚未選擇");
      return false;
    } else{
      $.post("/ajax/case_search_bygroup",{"search_key":search},function(data){
        var json = $.parseJSON(data);
        if (json.length ==0) {
          alert("查無此資料");
        } else{
          for(var k in json) {
            var resultshow = $("<a href=\"\"></a>");
            resultshow.attr("href","/index/casedata_edit/"+json[k]["auto_id"]);
            resultshow.html(json[k]["case_name"]);

            var resultshowtolink = $("<a href=\"\"></a>");
            resultshowtolink.attr("href","/index/casedata_edit/"+json[k]["auto_id"]);
            resultshowtolink.html("修改外鏈資料");
            $("#result").append(resultshow);
            $("#result").append(resultshowtolink);

          }
        }
      });
    }
  });


</script>
{% endblock %}
