{% extends 'case_model.twig' %}
{% block main_stage %}
<p class="search">以產業搜尋:
<select name="industry">
  <option value=""></option>
  {% for industrykey,industry in industry_tpyeName %}
      <option value="{{industrykey}}">{{industry}}</option>
  {% endfor %}
</select></p>

<p class="search">以方案搜尋:
<select name="program">
  <option value=""></option>
  {% for programkey,program in program_tpyeName %}
      <option value="{{programkey}}">{{program}}</option>
  {% endfor %}
</select></p>

<p class="search">以操作等級搜尋:
<select name="level">
  <option value=""></option>
  {% for levelkey,level in level_tpyeName %}
      <option value="{{levelkey}}">{{level}}</option>
  {% endfor %}
</select></p>

<button type="button" id="select_bygroup">送出</button>

<div id="result">
  <table id="resultdable" class="tablesorter">
    <thead {% if total_privilege b-and page_privilege["DeleteCase"] %} privilege="have" {% endif %}>
      <tr>
        <td>案件名稱</td>
        <td>最近下外鏈日期</td>
        <td>操作等級</td>
        <td>方案</td>
        <td>產業</td>
        <td></td>
        {% if total_privilege b-and page_privilege["DeleteCase"] %}
        <td></td>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
{% endblock %}


{% block script_stage %}
<script src="/includes/js/case_index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(function(){
  $("#resultdable").tablesorter();
});
</script>

<script type="text/javascript">
  $("#select_bygroup").click(function(){
    $("#resultdable").hide();
    $("#resultdable").children("tbody").empty();
    var industry = $("select[name=industry]").val();
    var program = $("select[name=program]").val();
    var level = $("select[name=level]").val();
    var search = {};
    if (industry != "") {
      search["case_industry"] = industry;
    }
    if (program != "") {
      search["case_program"] = program;
    }

    if (level != "") {
      search["case_level"] = level;
    }

    if ($.isEmptyObject(search)) {
      alert("尚未選擇");
      return false;
    } else{
      $.post("/ajax/case_search_bygroup",{"search_key":search},function(data){
        var json = $.parseJSON(data);
        if (json.length ==0) {
          alert("查無此資料");
        } else{
          for(var k in json) {
            var resultTR = $("<tr class=\"caseindex_btnarea\" case_id=\""+json[k]["auto_id"]+"\"></tr>");
            resultTR.append("<td><a href=\"/index/casedata_edit/"+json[k]["auto_id"]+"\">"+json[k]["case_name"]+"</td>");
            if (json[k]["submit_time"] != undefined) {
            resultTR.append("<td>"+json[k]["submit_time"]+"</td>");
          } else{
            resultTR.append("<td>---</td>");
          }
            resultTR.append("<td>"+json[k]["case_level"]+"</td>");
            resultTR.append("<td>"+json[k]["case_program"]+"</td>");
            resultTR.append("<td>"+json[k]["case_industry"]+"</td>");
            resultTR.append("<td><button type=\"button\" onclick=\"goto_caseLinkedit(this)\">連結管理</button></td>");
            if($("#resultdable").children("thead").attr("privilege") == "have"){
            resultTR.append("<td><button type=\"button\" name=\"button\" onclick=\"delete_case(this)\">刪除</button><br></td>");
          }
            $("#resultdable").children("tbody").append(resultTR);
          }
          $("#resultdable").show();
        }
      });
    }
  });


</script>
{% endblock %}
