<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 4.4.2.2 (Windows)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="00:00:00"/>

	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Liberation Sans"; font-size:x-small }
	</style>

</head>

<body>
<table cellspacing="0" border="0">
	<colgroup span="11" width="85"></colgroup>
	<tr>
		<td height="19" align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">客戶名稱</font></td>
		<td align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">網址</font></td>
		<td align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">GA碼</font></td>
		<td align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">GA碼相符</font></td>
		<td align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">網站存活</font></td>
		<td align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">本次查詢-title</font></td>
		<td align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">本次查詢-descriptions</font></td>
		<td align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">本次查詢-keywords</font></td>
	</tr>
	{% for item in data %}
	<tr>
		<td height="19" align="center" valign=middle bgcolor="#FFCC99"><font face="微軟正黑體" color="#000000">{{item["case_name"]}}</font></td>
		<td align="center" valign=middle ><font face="微軟正黑體" color="#000000">{{item["case_address"]}}</font></td>
		<td align="center" valign=middle ><font face="微軟正黑體" color="#000000">{{item["case_gacode"]}}</font></td>
		<td align="center" valign=middle ><font face="微軟正黑體" color="#000000">{{item["case_gacode_check"]}}</font></td>
		<td align="center" valign=middle ><font face="微軟正黑體" color="#000000">{{item["case_alive"]}}</font></td>
		<td align="center" valign=middle ><font face="微軟正黑體" color="#000000">{{item["case_title"]}}</font></td>
		<td align="center" valign=middle ><font face="微軟正黑體" color="#000000">{{item["case_description"]}}</font></td>
		<td align="center" valign=middle ><font face="微軟正黑體" color="#000000">{{item["case_keyword"]}}</font></td>
	</tr>
	{% endfor %}

</table>
<!-- ************************************************************************** -->
</body>

</html>
