{% extends 'privilege_model.twig' %}
{% block style %}
div.checkOldPassword, div.checkNewPassword, div.AddNewAccount {display:none;}
{% endblock %}
{% block main_stage %}
<div page="admindata_edit">
  {% for eachaccount in adminData %}
  <div accountID="{{eachaccount["admin_id"]}}">
    <p>帳號:<span>{{eachaccount["admin_name"]}}</span>
      {% if eachaccount["admin_name"] != "admin" %}
      <button type="button" name="DeleteThisAccount">刪除此帳號</button>
      {% endif %}
    </p>
    <button type="button" goto="checkOldPassword">修改密碼</button>
      <div class="checkOldPassword">
        <label>輸入舊密碼：</label>
        <input type="password" name="oldpw" value=""><button type="button" goto="checkNewPassword">確認</button>
        <div class="checkNewPassword">
          <label>輸入新密碼：</label><input type="password" name="newpw" value=""><br>
          <label>確認新密碼：</label><input type="password" name="newpwconfirm" value=""><br>
          <button type="button" name="submitNewPassword">確認</button>
        </div>
      </div>

  </div>

  {% endfor %}
  <br><button type="button" goto="AddNewAccount">新增帳號</button>
  <div class="AddNewAccount">
    <label>名稱：</label><input type="text" name="newaccountname" value=""><br>
    <label>密碼：</label><input type="password" name="newaccountpw" value="">
    <label>確認密碼：</label><input type="password" name="newaccountpwconfirm" value=""><br>
    <label>權限：</label><br>
    {% for eachpart in page_privilegeData %}
        <input type="checkbox" name="pagePrvilege" value="{{eachpart["privilege_id"]}}">
        <label>{{eachpart["page_description_chinese"]}}</label>
    {% endfor %}

    <button type="button" name="submitNewAccount">確認新增</button>
  </div>
</div>
{% endblock %}
{% block script_stage %}
{{ parent() }}
<script src="/includes/js/privilege_edit.js"></script>
{% endblock %}
