{% extends 'privilege_model.twig' %}
{% block style %}
div[page=admindata_edit]{display:none;}
{% endblock %}

{% block main_stage %}
<div page="privilege_edit">
  {% for eachaccount in adminData %}
      <div total_privilege="{{eachaccount["total_privilege"]}}">
        <p>帳號:<span accountID="{{eachaccount["admin_id"]}}">{{eachaccount["admin_name"]}}</span></p>
        {% for eachpart in page_privilegeData %}
            <input type="checkbox" name="pagePrvilege" value="{{eachpart["privilege_id"]}}"{% if eachpart["privilege_id"]  b-and  eachaccount["total_privilege"]%}checked{% endif %}>
            <label>{{eachpart["page_description_chinese"]}}</label>
        {% endfor %}
      </div>
  {% endfor %}
  <button type="button" name="changeprivilege">修改</button>
</div>
{% endblock %}

{% block script_stage %}
{{ parent() }}
<script type="text/javascript">
$("button[name=changeprivilege]").click(function(){
  var everyAccount = [];
  $(this).siblings("div[total_privilege]").each(function(){
    var account = parseInt($(this).find("span[accountID]").attr("accountID"));
    var new_total_privilege = 0;
    $(this).children("input:checked").each(function(){
      new_total_privilege += parseInt($(this).val());
    });
      var eachAccount = {"admin_id":account,"total_privilege":new_total_privilege};
      everyAccount.push(eachAccount);
  });
  console.log(everyAccount);
  $.post("/ajax/privilege_upload",{"privilege":everyAccount},function(data){
    location.href ="/privilege";
  });
});


</script>
{% endblock %}
