{% extends 'source_model.twig' %}
{% block main_stage %}

<div class="source_data_area">
  <!-- <input type="text" name="" value="" placeholder="資源站名稱"> -->
  <input type="text" name="address" value="" placeholder="資源站網址">
  <input type="text" name="account" value="" placeholder="資源站帳號">
  <input type="text" name="password" value="" placeholder="資源站密碼">
  <br>
  <p>網站主題</p>
  <select class="" name="topic">
    {% for topic_key,each_topic in type_source_topic %}
    <option value="{{topic_key}}">{{each_topic["Type_name"]}}</option>
    {% endfor %}
  </select>
  <br>
  <p>狀態</p>
  <select class="" name="status">
    {% for status_key,each_status in type_source_status %}
    <option value="{{status_key}}">{{each_status["Type_name"]}}</option>
    {% endfor %}
  </select>
  <br>
  <p>收錄狀態</p>
  <select class="" name="indexstatus">
    {% for indexstatus_key,each_indexstatus in type_source_indexstatus %}
    <option value="{{indexstatus_key}}">{{each_indexstatus["Type_name"]}}</option>
    {% endfor %}
  </select>
  <br>
  <p>自建</p>
  <select class="" name="kpnbuild">
    {% for kpnbuild_key,each_kpnbuild in type_source_kpnbuild %}
        <option value="{{kpnbuild_key}}">{{each_kpnbuild["Type_name"]}}</option>
    {% endfor %}
  </select>
  <br>
  <p>網站類型</p>
  <select class="" name="sitetype">
    {% for sitetype_key,each_sitetype in type_source_sitetype %}
        <option value="{{sitetype_key}}">{{each_sitetype["Type_name"]}}</option>
    {% endfor %}
  </select>
  <br>
  <p>語言</p>
  <select class="" name="lang">
    {% for lang_key,each_lang in type_source_lang %}
        <option value="{{lang_key}}">{{each_lang["Type_name"]}}</option>
    {% endfor %}
  </select>
  <br>
  <p>錨文本</p>
  <select class="" name="anchor">
    {% for anchor_key,each_anchor in type_source_anchor %}
        <option value="{{anchor_key}}">{{each_anchor["Type_name"]}}</option>
    {% endfor %}
  </select>

  <br>

  <button type="button" name="submit">送出</button>
  <button type="button" onclick="userguide()">編輯備註</button>
  <div id="result"></div>
</div>


{% endblock %}
{% block script_stage %}
<script type="text/javascript">
function userguide(){
  window.open("/source/source_dataremark","_blank","height=768, width=992, status=yes, toolbar=no, menubar=no, location=no,addressbar=no");
}
function printedit(thetext){
  $("#result").html(thetext);
  $("#result").css("border","2px solid #777");
}

$("button[name=submit]").click(function(){
  addData = {};
  $("input,select").each(function(){
    addData["source_"+$(this).attr("name")] = $(this).val();
  });
  addData["source_guide"] = $("#result").html();
  localStorage.removeItem("guide");
  $.post("/ajax_source/sourcedata_add",{"newsourcedata":addData},function(data){
    alert(data);
    if (data == "good") {
      location.href = "/source";
    }
  });
});
</script>
{% endblock %}
