{% extends 'source_model.twig' %}
{% block style %}
#sourceindexTable p, #sourceindexTable a {margin:5px;text-align:center;}
{% endblock %}
{% block main_stage %}
<button type="button" name="button">編輯</button>
<button type="button" name="export">提交</button>
<table id="sourceindexTable" class="tablesorter">
  <thead>
    <tr>
      <td>資源站資訊</td>
      <td>上次使用時間</td>
      <td>級別</td>
      <td>主題</td>
      <td>狀態</td>
      <td>索引狀態</td>
      <td>自建</td>
      <td>語言</td>
      <td>錨文本</td>
      <td>網站類型</td>
      <td>提交</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for eachsource in all_source %}
      <tr source_id="{{eachsource["source_id"]}}">
        <td>
          <p><a href="/source/source_dataedit/{{eachsource["source_id"]}}">{{eachsource["source_address"]}}</a></p>
          <p>{{eachsource["source_account"]}}</p>
          <p>{{eachsource["source_password"]}}</p>
        </td>
        <td>{{eachsource["source_lastexport"] == 0 ? "---" : eachsource["source_lastexport"]|date("Y-n-d")}}</td>
        <td>{{type_source_level[ type_source_sitetype[ eachsource["source_sitetype"] ]["Type_level"] ]["Type_name"]}}</td>
        <td>{{type_source_topic[ eachsource["source_topic"] ]["Type_name"]}}</td>
        <td>{{type_source_status[ eachsource["source_status"] ]["Type_name"]}}</td>
        <td>{{type_source_indexstatus[ eachsource["source_indexstatus"] ]["Type_name"]}}</td>
        <td>{{type_source_kpnbuild[ eachsource["source_kpnbuild"] ]["Type_name"]}}</td>
        <td>{{type_source_lang[ eachsource["source_lang"] ]["Type_name"]}}</td>
        <td>{{type_source_anchor[ eachsource["source_anchor"] ]["Type_name"]}}</td>
        <td>{{type_source_sitetype[ eachsource["source_sitetype"] ]["Type_name"]}}</td>
        <td><input type="checkbox" name="wanttoexport" value="1" {% if eachsource["already_submit_thisweek"] is defined %}disabled{% endif %}></td>
        <td><button type="button" name="delete">刪除</button></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script_stage %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
<script src="/includes/js/source_listedit.js"></script>
<script type="text/javascript">
$(function(){
  $("#sourceindexTable").tablesorter();
});
delete_source();
addto_exportlist();

</script>

{% endblock %}
