{% extends 'page_model.twig' %}
{% block style %}
section.side{float:none;width:100%;}
section.side ul li {display:inline-block;}
section.main{float:none;width:100%;}
table{ border-collapse:collapse;}
.different{color:red;}
td{border: 1px solid #000;}
td[name] {font-size:10px;}
td div.thisweek{height:50%;}
td div.lastweek{border-top:1px dotted #000;height:50%;}
{% endblock %}
{% block main_stage %}

<button type="button" onclick="start_tdkcheck()">開始全部檢查</button>
<table id="TDKtable" class="tablesorter">
  <thead>
    <tr>
      <td>客戶名稱</td>
      <td>產業</td>
      <td>GA碼</td>
      <td>GA碼比對</td>
      <td>網站存活</td>
      <td>T</td>
      <td>D</td>
      <td>K</td>
      <td>前次檢查時間</td>
      <td>

      </td>
    </tr>
  </thead>
  {% for eachcase in TDKdata %}
      <tr case_id="{{eachcase["auto_id"]}}" case_address="{{eachcase["case_address"]}}">
          <td>{{eachcase["case_name"]}}</td>
          <td>{{industry_tpyeName[ eachcase["case_industry"] ]}}</td>
          <td name="gacode">{{eachcase["case_gacode"]}}</td>
          <td name="gacode_check">{{eachcase["case_gacode_check"]}}</td>
          <td name="status">{{eachcase["case_alive"]}}</td>
          <td name="title" {% if eachcase["t_different"] %}class="different"{% endif %}>
            <div class="thisweek">{{eachcase["case_title"]}}</div>
            <div class="lastweek">{{eachcase["last_week_title"]}}</div>
          </td>
          <td name="description" {% if eachcase["d_different"] %}class="different"{% endif %}>
            <div class="thisweek">{{eachcase["case_description"]}}</div>
            <div class="lastweek">{{eachcase["last_week_description"]}}</div>
          </td>
          <td name="keyword" {% if eachcase["k_different"] %}class="different"{% endif %}>
            <div class="thisweek">{{eachcase["case_keyword"]}}</div>
            <div class="lastweek">{{eachcase["last_week_keyword"]}}</div>
          </td>
          <td name="check_time">{{eachcase["last_check_time"]}}</td>
          <td>
            <button type="button" class="tdk" onclick="findtdk(this)">比對tdk</button>
          </td>
      </tr>
  {% endfor %}
</table>


{% endblock %}
{% block script_stage %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(function(){
  $("#TDKtable").tablesorter();
});

function start_tdkcheck(){
  $("tr[case_id]").each(function(){
    $(this).find("button.tdk").trigger("click");
  });

}

function findtdk(field){
  var address = $(field).parents("tr[case_id]").attr("case_address");
  var id = $(field).parents("tr[case_id]").attr("case_id");
  var gacode = $(field).parents("tr[case_id]").children("td[name=gacode]").html();

  $.post("/ajax/checkTDK",{"caseAddress" : address, "caseID" : id, "gacode" : gacode},function(data){
    var json = $.parseJSON(data);
    var thiscase = $(field).parents("tr");
    thiscase.children("td[name=status]").html(json.case_alive);
    thiscase.children("td[name=title]").children("div.thisweek").html(json.case_title);
    thiscase.children("td[name=title]").children("div.lastweek").html(json.last_week_title);
    thiscase.children("td[name=description]").children("div.thisweek").html(json.case_description);
    thiscase.children("td[name=description]").children("div.lastweek").html(json.last_week_description);
    thiscase.children("td[name=keyword]").children("div.thisweek").html(json.case_keyword);
    thiscase.children("td[name=keyword]").children("div.lastweek").html(json.last_week_keyword);
    thiscase.children("td[name=gacode_check]").html(json.case_gacode_check);
    thiscase.children("td[name=check_time]").html(json.last_check_time);

    if (json.case_title != json.last_week_title) {
      thiscase.children("td[name=title]").css("color","red");
    }
    if (json.case_description != json.last_week_description) {
      thiscase.children("td[name=description]").css("color","red");
    }
    if (json.case_keyword != json.last_week_keyword) {
      thiscase.children("td[name=keyword]").css("color","red");
    }
    if($(field).is($("button.tdk:last"))){
      location.href = "/export/tdkexcel";
    }
  });

}

</script>
{% endblock %}
